---
import { defaultLanguage, getContent, Language } from 'src/utils'

export type Props = {
  id: number
  intro?: boolean
  lang: Language
}

const { id, intro, lang } = Astro.props
const { slug, title } = (await getContent(lang || defaultLanguage)).links[id]
const className = intro ? `link link--${id}` : null
const href = id > 0 ? `#${slug}` : `/${lang}`
---

<a href={href} class={className}><slot>{title}</slot></a>
